@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>WebSocket</title>
</head>
<body>
    <h5>WebSocket</h5>
    <script>
        var ws = new WebSocket("ws://localhost:21733/ws");
        ws.onopen = function () {
        // WebSocket 已连接上，使用 send() 方法发送数据
        ws.send("发送数据");
            alert("数据发送中...");
        };
        ws.onmessage = function (evt) {
            var received_msg = evt.data;
            alert("数据已接收...");
        };
        ws.onclose = function () {
            // 关闭 websocket
            alert("连接已关闭...");
        };
    </script>
</body>
</html>